* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    list-style: none;
}




header {
    display: flex;
    justify-content: center;
    background-color: rgb(43, 150, 250);
}

main {
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Utilities */
.border {
    border: solid red 2px;
}



ul {
    border: 1px dotted blue;
}

li>* {
    margin: 0.5rem 0;
    margin-left: 1rem;
}

input:checked~button {
    pointer-events: none;
    opacity: 0.5;
}

input {
    border-radius: 4px;
}

button {
    border: 1px solid blue;
    width: 30px;
    display: inline-block;
    border-radius: 4px;
    background: #eee;
    text-align: center;
}